:root {
    --primary-color: rgb(132, 195, 214);
    --primary-color-button: rgb(82, 189, 221);
    --primary-color-hover: rgb(61, 169, 202);
}

* {
    box-sizing: border-box;
    outline: 0
}
body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: solid 123px black;
}

form input, form label, form button {
    display: block;
    width: 100%;
}

form button {
    height: 40px;
    border: none;
    background: var(--primary-color-button);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
}


form input {
    font-size: 24px;
    height: 40px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button:hover {
    background-color: var(--primary-color-hover);
}